---
title: RustBridge Berlin
layout: default
---

<h1 class="page-title">RustBridge<br>Berlin</h1>
<p class="f3 measure">
    This is the chapter website of RustBridge Berlin. RustBridge is a workshop program to
    teach people from underrepresented backgrounds <a href="https://rust-lang.org">Rust</a>,
    and RustBridge Berlin forms a regional chapter, that is, a local group of workshop organizers
    and teachers.
</p>

<h2 class="f2">Next event</h2>


{% assign  firstevent = site.events | where_exp: "event", "event.date  >=  site.time" | first %}
{% if firstevent %}
<p class="f3 measure">
  The next event is <strong>{{ firstevent.title }}</strong>, which is held at <strong>{{ firstevent.eventvenue }}</strong>
    on <strong>{{ firstevent.eventdate }}</strong>.</p>

<p><a class="f2 measure pa3 mb3 dib button" href="{{ firstevent.url }}">
    More info here
</a></p>

{% else %}
<p class="f3 measure">There are no events planned at the moment.</p>
{% endif %}


<h2 class="f2">Past events</h2>
<ul>
  {% assign events = site.events | where_exp: "event", "event.date  <  site.time" %}
  {% for event in events %}
  <li class="f3"><a href="{{ event.url }}">{{event.title}}</a></li>
  {% endfor %}
</ul>


<p class="f3 measure">
    If you are interested in hearing more, follow the
    <a href="https://twitter.com/rustbridge">RustBridge Twitter account</a>, and
    if you want to get involved, please <a href="mailto:berlin@rustbridge.com">email us</a>.
</p>
