{% extends "default.html" %}

{% block title %}RustBridge Berlin{% endblock title %}

{% block content %}
<h1 class="f1 athelas">RustBridge Berlin</h1>
<p class="lh-copy f3 measure athelas">
    This is the chapter website of RustBridge Berlin. RustBridge is a workshop program to
    teach people from underrepresented backgrounds <a href="https://rust-lang.org" class="link blue">Rust</a>,
    and RustBridge Berlin forms a regional chapter, that is, a local group of workshop organizers
    and teachers.
</p>

<p class="lh-copy f3 measure athelas">
    We are still in the early stages of setting up. If you are interested in hearing more, follow the
    <a href="https://twitter.com/rustbridge" class="link blue">RustBridge Twitter account</a>, and
    if you want to get involved, please <a href="/cdn-cgi/l/email-protection#caa8afb8a6a3a48ab8bfb9bea8b8a3aeadafe4a9a5a7" class="link blue">email us</a>.
</p>
{% endblock %}
